//
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// @font-face {
//   font-family: "specialelite";
//   url: ("fonts/SpecialElite.ttf") format("truetype");
// }

@font-face {
  font-family: 'specialelite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(fonts/SpecialElite.ttf) format('truetype');
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  // padding: 0;
  color: #fff;
  background: #000;
}
a {
  color: red;

  &:hover {
    color: #800000;
  }
}
.player {
  min-width: 240px;
  overflow: auto;
  display: inline-block;
  .sharre {
    float: right;
  }
  .btn-beat {
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    text-align: center;
    background-color: gray;
    border: solid 1px black;
    margin-right: 1px;
    color: black;
    width:20px;
    height:34px;
    font-size: 12px;
    &:hover {
      background-color: #aaa;
      color: black;
    }
  }
  .chosen {
    background-color: yellow;
    &:hover {
      background-color: #ffa;
      color: black;
    }
  }
  .playing {
    font-weight: bold;
  }
  .controls {
    width: 100%;
    text-align: left;
  }
}
.settings {
  padding: 0 30px 20px 30px;
  margin: 0 auto;
  label {
    text-align: right;
  }
}
.player-wrap {
  margin: 0 0 30px 0;
  padding: 0;
}
.form-control, .btn, .modal-content {
  border-radius: 1px !important;
}
.form-control {
  color: #fff;
  background: #000;
  &:focus {
    border: 2px solid #fff;
    box-shadow: none;
  }
}
p.instrument{
  padding-bottom: 2px;
  margin: 0;
  text-align: left;
  .btn-settings {
    text-align: left;
    width: 100px;
    position: relative;
    span {
      position: absolute;
      right:0;
      right: 0;
      font-size: 30px;
      opacity: .3;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-bottom: 19px;
  color: #777;
  border-top: 2px solid #ff7;
  a {
    color: #ff7
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-radius: 0 !important;
  text-align: center;
  // border-bottom: 1px solid;
  background-color: #ff7;
  // background: #ff7 url('../images/bottom.png') repeat-x bottom;
  border-bottom: 5px solid #fff !important;
  h1 {
    font-family: "specialelite";
    color: #000;
    text-shadow: 2px 8px 0px #fff;
  }
}
.lead {
  font-family: "specialelite";
  color: #000;
}
.container.player_container {
  width:100% !important;
  padding: 0 !important;
  // margin: 0;
}
.modal-content {
  background-color: #000;
  border-color: #ff7;
  .modal-footer {
    border-color: #ff7;
  }
  .modal-header {
    border-color: #ff7;
    button {
      color: #fff;
    }
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .settings, .footer .container {
    max-width: 730px;
    margin: auto;
  }

  .player-wrap {
    margin: 0 0 30px 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    width: 100%;
    border-bottom: 0;

  }
}
