<div class="player-wrap">
  <div class="jumbotron">
    <h1>{{main.headline||'NKSF'}}</h1>
    <p class="lead">
      {{main.description||''}}
    </p>
    <div class="player">
      <a class="btn btn-primary sharre" ng-click="main.save()" data-toggle="modal" data-target="#share-modal"><span class="glyphicon glyphicon-bullhorn"> sdílet</span></a>
      <p class="controls">
        <a class="btn btn-primary" ng-click="main.play()"><span class="glyphicon glyphicon-play"><span></a>
        <a class="btn btn-primary" ng-click="main.stop()"><span class="glyphicon glyphicon-stop"><span></a>
        <a class="btn btn-primary" ng-click="main.pause()"><span class="glyphicon glyphicon-pause"><span></a>
        <!-- {{main.i}} -->
      </p>
      <p class="instrument" ng-repeat="instrument in main.instruments">
        <a class="btn btn-primary btn-settings" data-toggle="modal" data-target="#set-modal-{{$index}}"><span class="glyphicon glyphicon-cog"></span> {{instrument.name|limitTo:9 }}</a>
        <a class="btn btn-default btn-beat" ng-class="{chosen: val, playing: key == main.i}" ng-mousedown="instrument.click(key)" ng-repeat="(key, val) in instrument.beats track by $index">{{key+1}}</a>
      </p>

      <p class="controls">
        <a class="btn btn-primary" ng-click="main.addInstrument()"><span class="glyphicon glyphicon-plus"><span></a>
      </p>
    </div>
  </div>


  <!-- Share Modal -->
  <div id="share-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sdílet</h4>
        </div>

        <div class="modal-body row">
          <div class="col col-sm-12 ">
            <label for="instr_name">odkaz:</label>
            <input value="" type="text" id="share_url" class="form-control" ng-model="main.shareLink"></input>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Instruments Settings Modals -->
  <div ng-repeat="instrument in main.instruments" id="set-modal-{{$index}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{instrument.name}} - nastavení</h4>
        </div>

        <div class="modal-body row">
          <div class="col col-sm-6 ">
            <label for="instr_name">název:</label>
            <input type="text" id="instr_name" class="form-control" ng-model="instrument.name"></input>
          </div>
          <div class="col col-sm-6 ">
            <label for="instr_beat">nástroj:</label>
            <select if="instr_beat" ng-options="key as key for (key , value) in main.beatList" class="form-control" ng-model="instrument.beat"></select>
          </div>
          <div class="col col-sm-6 ">
            <label for="instr_speed">rychlost přehrávání:</label> {{instrument.speed | number:2}} x
            <input id="instr_speed" min="0" max="5" step="0.01"  class="form-control" type="range" ng-model="instrument.speed"></input>
          </div>
          <div class="col col-sm-6 ">
            <label for="instr_volume">hlasitost:</label> {{instrument.volume * 100 | number:0}} %
            <input id="instr_volume" min="0" max="1" step="0.01"  class="form-control" type="range" ng-model="instrument.volume"></input>
          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-primary" ng-click="instrument.play()"><span class="glyphicon glyphicon-play"><span></a>
          <button type="button" class="btn btn-danger" ng-click="instrument.delete()">Smazat nástroj</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>

      </div>
    </div>
  </div>



  <div class="row settings">
    <h4><span class="glyphicon glyphicon-cog"></span> Nastavení</h4>
    <div class="col col-sm-6 ">
      <label for="headline" >
        nadpis:
      </label>
      <input class="form-control" type="text" id="headline" ng-model="main.headline"></input>
    </div>
    <div class="col col-sm-6">
      <label for="description">
        podnadpis:
      </label>
      <input class="form-control" type="text" id="description" ng-model="main.description"></input>
    </div>
    <div class="col col-sm-6">
      <label for="lenght">
        počet dob:
      </label>
      <input ng-min="1" min="1" class="form-control" type="number" id="length" ng-model="main.length" ng-change="main.lenghtChange()"></input>
    </div>
    <div class="col col-sm-6">
      <label for="tempo">
        tempo:
      </label>
      <!-- <input ng-min="10" ng-max="1000" class="form-control" type="number" id="tempo" ng-model="main.tempo"></input> -->
      {{main.tempo}} <strong>BMP</stroong>
      <input min="10" max="1000" step="5" class="form-control" type="range" id="tempo" ng-change="main.tempoChanged()" ng-model="main.tempo"></input>
    </div>
  </div>
</div>
